/**
    Created by zongy on 13-10-2016.
**/
* { padding: 0; margin: 0; }
#page_contact {

    background-image: url("images/background-imgs/contact_bg.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.back-icon {
    color: #fff9f4;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
#header {
    width: 96vw !important;
    margin: 1vh auto 0 auto !important;
    display: flex !important;
    justify-content: space-between;
    background: none;
    border: none;
}
.back-btn {
    width: 18vw;
    height: 9vh;
    background-color: #043540;
    position: relative;
}
.headline-box {
    width: 76vw;
    height: 9vh;
    background-color: #043540;
    text-align: center !important;
}
.headline-box h1 {
    font-size: 1.5em !important;
    color: #fff9f4;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_content{
    width: 96vw !important;
    margin: 0 auto !important;
    padding: 0px !important;
}
.contact-info-panel {
    min-height: 18vh !important;
    margin-top: 1vh !important;
    padding: 2vh 8vw !important;
    background-color: rgba(4,53,64,0.9);
}
#supervisor .portrait {
    float: left !important;
    width: 30%;
    margin-top:2vh !IMPORTANT;
    vertical-align: middle !important;
}

#supervisor p {
    width:65% !important;
    margin-top: 1vh !important;
    vertical-align: middle !important;
    float: right !important;
    height: inherit !important;
    font-size: 0.7em !important;
    color: #fff9f4;
    line-height: 1.7em;
}

#supervisor p span{
    display: block;
}
.call_btn {
    border-radius: 0 !important;
    border: none !important;
    background-color: #095b6e !important;
    padding: 2vh 0 !important;
    margin: 0 !important;
    text-align: center !important;
    vertical-align: center !important;
}
#mail-box {
    display: flex;
    flex-wrap: nowrap;
}
#mail-title {
    text-align: center;
    padding: 2vh 0 !important;
    margin: 1vh 0 0 0 !important;
    color: #fff9f4;
    position: relative;
    background-color: rgba(4,53,64,0.9);
}
#mail-box button {
    background-color: rgba(4,53,64,0.9);
    color: #fff9f4;
    border: none !important;
    border-radius: 0 0 0 !important;
    padding: 2vh 0 !important;
    font-size: 0.8em;
    margin: 0 !important;
}
#mail-box button:focus {
    background-color: rgba(241,136,121,1);
}
#container {
    background-color: rgba(4,53,64,0.9);
    height: auto;
    padding: 2vh 0 10vh 0 !important;
    margin: 0 !important;
}
#content ul {
    list-style: none !important;
}
.btn_line {
    justify-content: flex-end !important;
}
#content ul li {
    padding: 2vh 0 !important;
    width: 100% !important;
    list-style: none !important;
    border-bottom: 1px solid #fff !important;
    display: flex !important;
    justify-content: space-between !important;
}
#content input[type=checkbox] {
    width: 6vw !important;
    height: 6vh !important;
    padding: 0 0 0 2vw !important;
    margin-left: 4vw !important;
    line-height: 7vh !important;
}
#content input[type=checkbox]:before {
    border: 1px solid #fff !important;
    background: #043540 !important;
}
#content input[type=checkbox]:checked {
    background: #B0B0B0 !important;
}
#messages {
    width: 70vw;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: middle !important;
    height: auto !important;
}
.msg_title {
    font-size: 0.7em !important;
    display: flex !important;
    justify-content: space-between !important;
    width: 90% !important;
    margin: 0 auto;
    text-align: start !important;
}
.msg_content {
    width: 90% !important;
    font-size: 0.6em !important;
    margin: 1vh auto 0 auto;
    line-height: 1.5em;
}
.burger-menu {
    width: 6vw !important;
    vertical-align: middle !important;
    padding-right: 4vw !important;
}
.new_ul {
    width:70%;
    margin: 0 auto !important;
}
#content input[type=text] {
    width: 70vw;
    color: black !important;
}
.msgNew_to > select {
    padding: 1vh !important;
    margin-right: 6vw !important;
    width: 64% !important;
    font-size: 1em;
    color: #043540 !important;
}
.msgNew_to > select > option {
    color: #043540 !important;
}
.msgNew_to > label, .msgNew_content > label{
    font-size:0.6em !important;
    margin: 0.8vh 0 0 6vw !important;
}
.msgNew_to input[type=text]{
    font-size: 1em !important;
    color: #043540 !important;
    width: 64% !important;
    padding: 1vh 0 !important;
    margin: 0 6vw 0 0 !important;
}
.msgNew_content {

}

.msgNew_content textarea{
    font-size: 1em !important;
    color: #043540 !important;
    width: 64% !important;
    padding: 1vh 0 !important;
    margin: 0 6vw 0 0 !important;
}

#newMsg_btn {
    float: right !important;
    margin-right: 6vw !important;
    margin-left: 28vw !important;
    width: 64% !important;
    height: 5vh !important;
    color: #fff !important;
    padding-top: 1vh;
    background-color: #cf867e !important;
    border: none;
}