.float_left{
    float: left;
}

.float_right{
    float: right;
}

#page_menu{
    background: url("../img/index_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#page_menu_header{
    width: 100vw;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0);
}

#app_logo{
    margin-top: 2vh !important;
    idth: 30vw;
    height: 15vh;
    margin: auto;
    background: url(../img/logo_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#page_menu_content{
    padding: 0px      !important;
}

.menu_button, .menu_button_inner{
    color: #fff9f4 !important;
    width: 50vw                 !important;
    height: 20vh                !important;
    background-color: rgba(4,53,64,0.8)   !important;
    padding: 0px      !important;
    margin: 0px 0px 0px 0px !important;
    vertical-align: middle !important;

    /* top, right, bottom, left */
    border-width: 1vh 1vw 1vh 1vw !important;
    border-color: #fff9f4 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu_button_inner{
    border-top: 0vh !important;
}

.menu_button span{
    position: relative;
    top: 2vh;
}

.menu_button p{
    position: relative;
    font-size: 0.9em;
    bottom: -3vh;
}

.info{
    font-size: 0.8em !important;
}

#language{
    color: #fff9f4;
    float: right;
    font-size: 4vw;
    right: 2vw;
    top: 1vw;
    position: fixed;
}

#logout{
    color: #fff9f4;
    float: left;
    font-size: 4vw;
    left: 2vw;
    top: 1vw;
    position: fixed;
    z-index: 999;
}