body {
    width: 100vw;
    text-align: center;
    background-color: rgba(0,0,0,0) !important;
    background-image: url("../img/shift_bg.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size:100% 101%; /* 101% on height because the picture didn't fill the screen */
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}
i {
    color: #fff9f4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header {
    opacity: 0.9; !important;
    width: 96vw;
    margin: 1vh auto 0 auto;
    display: flex;
    justify-content: space-between;
    background: none;
    border: none;
}
.back-btn {
    width: 18vw;
    height: 9vh;
    background-color: #043540;
    position: relative;
}
.calendar-btn {
    width: 18vw;
    height: 9vh;
    background-color: #043540;
    position: relative;
}
.headline-box {
    width: 58vw;
    height: 9vh;
    background-color: #043540;
    text-align: center;
}
.headline-box h1 {
    font-size: 1.5em;
    color: #fff9f4;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-alignment {
    font-size: 1.5em;
    /*padding-top: 3vh;*/
    margin-top: 3vh;
    width: 30%;
    float: left;
    /*padding-left: 1vw;
    padding-right: 1vw;*/
    text-align: left;
}
.text-alignment2 {
    display: inline-block;
    width: 60%;
    /*padding-left: 1vw;
    padding-right: 1vw;*/
    float: right;
    text-align: left;
}

.inside-content {
    /*opacity: 0.9; !important;*/
    width: 96vw !important;
    margin: auto !important;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.status-okay a{
    background-color:#043540 !important;
}
.status-okay .ui-collapsible-content {
    background-color: #095b6e !important;
}
.status-okay .ui-listview > .ui-li-static.ui-last-child, .ui-listview > .ui-li-divider.ui-last-child, .ui-listview > li.ui-last-child > a.ui-btn {
    background-color: #095b6e !important;
    font-size: 0.7em;
    text-align: center;
}

.status-pending a {
    background-color:#ffc922 !important;

}
.status-pending .ui-collapsible-content {
    background-color: #095b6e !important;
}
.status-pending .ui-listview > .ui-li-static.ui-last-child, .ui-listview > .ui-li-divider.ui-last-child, .ui-listview > li.ui-last-child > a.ui-btn {
    background-color: #095b6e !important;
    font-size: 0.7em;
    text-align: center;
}

.status-invitation a{
    background-color: #f56b71 !important;
}
.status-invitation .ui-collapsible-content {
    background-color: #095b6e !important;
}
.status-invitation .ui-listview > .ui-li-static.ui-last-child, .ui-listview > .ui-li-divider.ui-last-child, .ui-listview > li.ui-last-child > a.ui-btn {
    background-color: #095b6e !important;
    font-size: 0.7em;
    text-align: center;
}
.buttonsCollaps {
    opacity: 0.9; !important;
    width: 96vw;
    margin: 27px auto 0 auto;
    display: flex;
    justify-content: space-between;
    background: none;
    border: none;
    color: #fff9f4;
}
#set{
    padding: 0 !important;
    width: 96vw;
    margin: auto;
    margin-top: 2vw;
}
li{
    margin: 4vw !important;
}
.show-map-btn {
    margin-top: -1.75em;
    width: 96vw;
    height: 4.5vh;
    line-height: 4.5vh;
    background-color: #8bc7b9;
    position: relative;
    font-size: 1em;
    text-align: center !important;
}
.show-map-btn a {
    text-align: center;
    text-decoration: none !important;
    color: #fff9f4 !important;
    background-color: #8bc7b9 !important;
}
.switch-shift-btn {
    margin-top: -1.75em;
    width: 96vw;
    height: 4.5vh;
    line-height: 4.5vh;
    background-color: #f18879;
    position: relative;
    font-size: 1em;
    text-align: center !important;
}
.switch-shift-btn a {
    text-align: center;
    text-decoration: none !important;
    color: #fff9f4 !important;
    background-color: #f18879 !important;
}

.ui-collapsible-themed-content .ui-collapsible-content {
    border-bottom-width: 0 !important;
    border-style: none !important;
    opacity: 0.9; !important;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    background-color: #043540; !important;
    border-color: #043540; !important;
    opacity: 0.9; !important;
}
.ui-btn-left, .ui-btn-right {
    margin: 0;!important;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: transparent; !important;
    border-color: transparent; !important;
}
.ui-collapsible {
    margin: 0 auto; !important;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
background-color: transparent !important;
}

.status-okay .ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head + body .ui-btn.ui-btn-a:hover{
    opacity: 0.9;
    background-color: #043540 !important;
}
.status-pending .ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head + body .ui-btn.ui-btn-a:hover{
    opacity: 0.9;
    background-color: #ffc922 !important;
}
.status-invitation .ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head + body .ui-btn.ui-btn-a:hover{
    opacity: 0.9;
    background-color: #f56b71 !important;
}
.ui-corner-all {
    border-radius: initial !important;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    color: #fff9f4 !important;
}