body {
    width: 100vw;
    text-align: center;
    background-image: url("../img/tradeMarket_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 101%;
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}

i {
    color: #fff9f4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header {
    opacity: 0.9; !important;
    width: 96vw;
    margin: 1vh auto 0 auto;
    display: flex;
    justify-content: space-between;
    background: none;
    border: none;
}
.back-btn {
    width: 18vw;
    height: 9vh;
    background-color: #043540;
    position: relative;
}
.headline-box {
    width: 76vw;
    height: 9vh;
    background-color: #043540;
    text-align: center;
}
.headline-box h1 {
    font-size: 1.6em;
    color: #fff9f4;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#content1 {
    width: 96vw !important;
}
#content1 .ui-btn {
    margin: 1em auto !important;
    padding: 2em 1em !important;
    border-width: 0 !important;
    border-style: none !important;
}

#content1 .ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head + body .ui-btn.ui-btn-a:hover {
    background-color: #043540; !important;

}
#content1 .ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    background-color: #043540; !important;

}
#content1 .ui-collapsible {
    opacity: 0.9; !important;
    margin: 0 auto !important;
}
#content1 .ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color:  #043540; !important;
    margin: -1em 0em auto !important;
}

.buttonsCollaps {
    opacity: 0.9; !important;
    width: 96vw;
    margin: 1vh auto 0 auto;
    display: flex;
    justify-content: space-between;
    background: none;
    border: none;
    color: #fff9f4;
}
.my-shift {
    margin-top: -1.68em;
    width: 96vw;
    height: 4.5vh;
    line-height: 4.5vh;
    background-color: #ffd962;
    position: relative;
    font-size: 1em;
    text-align: center !important;
}
.my-shift a {
    text-align: center;
    text-decoration: none !important;
    color: #fff9f4 !important;
    background-color: #ffd962 !important;
}
.send-request {
    margin-top: -1.68em;
    width: 96vw;
    height: 4.5vh;
    line-height: 4.5vh;
    background-color: #f18879;
    position: relative;
    font-size: 1em;
    text-align: center !important;
}
.send-request a {
    text-align: center;
    text-decoration: none !important;
    color: #fff9f4 !important;
    background-color: #f18879 !important;
}
.font-size-collapsible {
    padding-left: 7vw;
    text-align: left;
}
.font-size-collapsible p {
    font-size: 0.6em;
}
.ui-collapsible-content {
    padding: 0 !important;
}
.ui-collapsible-themed-content .ui-collapsible-content {
    border-bottom-width: 0 !important;
    border-style: none !important;
    opacity: 0.9; !important;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    background-color: #043540; !important;
    border-color: #043540; !important;
    opacity: 0.9; !important;
}
.ui-btn-left, .ui-btn-right {
    margin: 0;!important;
}

.ui-collapsible-inset, .ui-collapsible-set {
    margin: 0 auto !important;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: transparent; !important;
    border-color: transparent; !important;
}
.ui-collapsible {
    margin: 0 auto; !important;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    background-color: transparent !important;
}
.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head + body .ui-btn.ui-btn-a:hover{
    opacity: 0.9;
    background-color: #043540 !important;
    border: none;
}